// .css-19k5ww7 {
//     .ps-menu-button .ps-active {
//         background-color: red !important;
//     }
// }

.cm-editor {
    -webkit-user-select: none !important;
    -khtml-user-select: none !important;
    -moz-user-select: none !important;
    -o-user-select: none !important;
    user-select: none !important;
}

.CodeMirror {
    pointer-events: none !important;
}